Packages required -> 
keras==3.8.0
matplotlib==3.7.2
numpy==1.26.4
scikit-learn==1.2.2
tensorflow==2.18.0
tqdm==4.67.1
seaborn==0.12.2
pandas==2.2.3

Dataset used -> UTKFace dataset (available on kaggle) 
["https://www.kaggle.com/datasets/jangedoo/utkface-new"]