Packages required ->
keras==3.8.0
matplotlib==3.7.2
numpy==1.26.4
scikit-learn==1.2.2
tensorflow==2.18.0
tqdm==4.67.1
pandas==2.2.3
streamlit==1.45.1

Dataset used -> UTKFace dataset (available on kaggle)
["https://www.kaggle.com/datasets/jangedoo/utkface-new"]
                WIDER_FACE_A_Face_Detection_Dataset (available on kaggle)
["https://www.kaggle.com/datasets/iamprateek/wider-face-a-face-detection-dataset"]
                Fashionpedia dataset (available on huggingface)
["https://huggingface.co/datasets/detection-datasets/fashionpedia"]
                AffectNet dataset (available on kaggle)
["https://www.kaggle.com/datasets/mstjebashazida/affectnet"]
                FairFace dataset (available on kaggle)
["https://www.kaggle.com/datasets/aibloy/fairface"]